* {
  margin: 0;
  padding: 0;
}

body{
    background: url(../img/background.jpg) no-repeat fixed center;
    background-size: cover;
    
}
h1,h2{
    color: #ffffff;
}
h1{
    font-size: 70px;
}

.green{
    color: #86c323;
}

#btn{
    width: 200px;
    height: 35px;
    background-color: #86c323;
    border: none;
    outline: none;
    border-radius: 25px;
    margin-top: 10px;
    cursor: pointer;
}

#welcome{
    width: fit-content;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    top: 100px;
}
.intro{
    width: fit-content;
    position:absolute;
    top: 250px;
    left: 500px;
}

h2{
    font-size: 48px;
}

/*  navigation bar*/
nav{
    margin: 20px;
}
ul{
    color: #ffffff;
    float: right;
}

li{
    display: inline;
    margin:10px;
    font-size: 20px;
}

nav a{
    text-decoration: none;
    outline: none;
    color: #ffffff;
}